{% extends 'admin/change_form.html' %}

{% load i18n admin_urls %}

{% block object-tools-items %}

    <li>
        {% url opts|admin_urlname:'editcv' original.pk|admin_urlquote as editcv_url %}

        <a href="{% add_preserved_filters editcv_url %}" class="historylink">{% trans "Edit CV" %}</a>
    </li>
    {{ block.super }}

{% endblock %}
